body{
    background-color: rgb(211, 253, 139);
}

.contener{
    background-color: white;
    width: 50%;
    margin: auto;
    border: solid 2px rgb(58, 138, 58);
}

nav{
    background: url(../img/bg_menu.gif) repeat-x 0 -25px;/*, on met ensuite l'image de fond avec un décalage de 25 pixels vers le haut*/ ;
    height: 35px;/*On donne une hauteur au menu, correspondant à la taille de l'image utilisée en fond*/
}
